.planets-view {
  background: #1c1c1c;
  height: 100vh;
}

.planets-view {
  background: #1c1c1c;
  height: 100vh;
}

.planets-panel {
  background: #1c1c1c;
  width: 100vw;
  height: 50vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.planets-panel::-webkit-scrollbar {
  border: dashed 2px #5c5c5c;
  height: 10px;
}
.planets-panel::-webkit-scrollbar-button {
  display: none;
}
.planets-panel::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: solid 2px #5c5c5c;
  border-radius: 5px;
}
.planets-panel .planets-container {
  height: 100%;
  margin: 0 auto;
  background: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.planets-panel .planets-container .star {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  background: #E0440B;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}
.planets-panel .planets-container .star .orbit {
  border: dashed 2px #5c5c5c;
  border-radius: 50%;
  position: absolute;
}
.planets-panel .planets-container .star .orbit:nth-child(1) {
  width: 820px;
  height: 820px;
  top: -213px;
  left: -213px;
}
.planets-panel .planets-container .star .orbit:nth-child(2) {
  width: 1420px;
  height: 1420px;
  top: -513px;
  left: -513px;
}
.planets-panel .planets-container .star .orbit:nth-child(3) {
  width: 2020px;
  height: 2020px;
  top: -813px;
  left: -813px;
}
.planets-panel .planets-container .star .orbit:nth-child(4) {
  width: 2620px;
  height: 2620px;
  top: -1113px;
  left: -1113px;
}
.planets-panel .planets-container .star .orbit:nth-child(5) {
  width: 3220px;
  height: 3220px;
  top: -1413px;
  left: -1413px;
}
.planets-panel .planets-container .star .orbit:nth-child(6) {
  width: 3820px;
  height: 3820px;
  top: -1713px;
  left: -1713px;
}
.planets-panel .planets-container .star .orbit:nth-child(7) {
  width: 4420px;
  height: 4420px;
  top: -2013px;
  left: -2013px;
}
.planets-panel .planets-container .star .orbit:nth-child(8) {
  width: 5020px;
  height: 5020px;
  top: -2313px;
  left: -2313px;
}
.planets-panel .planets-container .planet {
  z-index: 2;
  width: 180px;
  height: 180px;
  background: grey;
  border-radius: 50%;
  margin-left: 120px;
  transition: 0.3s;
}
.planets-panel .planets-container .planet:nth-child(2) {
  transform: scale(0.035);
  background: #727272;
}
.planets-panel .planets-container .planet:nth-child(2):hover {
  transform: scale(0.042);
}
.planets-panel .planets-container .planet:nth-child(3) {
  transform: scale(0.085);
  background: #B0661B;
}
.planets-panel .planets-container .planet:nth-child(3):hover {
  transform: scale(0.102);
}
.planets-panel .planets-container .planet:nth-child(4) {
  transform: scale(0.09);
  background: #395B78;
}
.planets-panel .planets-container .planet:nth-child(4):hover {
  transform: scale(0.108);
}
.planets-panel .planets-container .planet:nth-child(5) {
  transform: scale(0.05);
  background: #CC6B32;
}
.planets-panel .planets-container .planet:nth-child(5):hover {
  transform: scale(0.06);
}
.planets-panel .planets-container .planet:nth-child(6) {
  transform: scale(1);
  background: #757475;
}
.planets-panel .planets-container .planet:nth-child(6):hover {
  transform: scale(1.2);
}
.planets-panel .planets-container .planet:nth-child(7) {
  transform: scale(0.85);
  background: #BEB598;
}
.planets-panel .planets-container .planet:nth-child(7):hover {
  transform: scale(1.02);
}
.planets-panel .planets-container .planet:nth-child(8) {
  transform: scale(0.36);
  background: #C9EFF2;
}
.planets-panel .planets-container .planet:nth-child(8):hover {
  transform: scale(0.432);
}
.planets-panel .planets-container .planet:nth-child(9) {
  transform: scale(0.35);
  background: #2766BB;
}
.planets-panel .planets-container .planet:nth-child(9):hover {
  transform: scale(0.42);
}

.planet-info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  color: white;
}
.planet-info-panel .info-planet-name {
  text-transform: uppercase;
  font-size: 20px;
  color: #E0440B;
}
.planet-info-panel .info-planet-discovery {
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.planet-info-panel .info-planet-day {
  margin-top: 5px;
}
.planet-info-panel .info-planet-name-origin {
  margin-top: 5px;
}
.planet-info-panel .info-planet-orbit {
  margin-top: 5px;
}

.navbar {
  position: fixed;
  height: 100vh;
  max-height: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  transition: 0.7s;
  z-index: 999;
}
.navbar.toggle-true {
  transform: translateX(0px);
}
.navbar.toggle-false {
  transform: translateX(-70px);
}
.navbar .nav-container {
  height: 100%;
  width: 70px;
  background: #1c1c1c;
  border-right: dashed 2px #5c5c5c;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-container .nav-items .nav-item {
  font-size: 30px;
  margin: 40px 0;
  color: white;
  transition: 0.4s;
}
.navbar .nav-container .nav-items .nav-item:hover {
  color: #E0440B;
}
.navbar .toggle-button {
  display: flex;
  width: 50px;
  height: 50px;
  background: #1c1c1c;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  border-right: dashed 2px #5c5c5c;
  border-bottom: dashed 2px #5c5c5c;
  box-sizing: border-box;
}
.navbar .toggle-button .toggle-icon {
  margin: 8px;
  color: white;
  font-size: 25px;
  transition: 0.7s;
}
.navbar .toggle-button .toggle-icon.toggle-true {
  transform: rotateY(180deg);
}
.navbar .toggle-button .toggle-icon.toggle-false {
  transform: rotateY(0deg);
}

.profile-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-view .history {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile-view .history .description {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.profile-view .history .empty-message {
  font-size: 18px;
}
.profile-view .user-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.profile-view .user-info .description {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.profile-view .user-info .account {
  display: flex;
  flex-direction: row;
}
.profile-view .user-info .account .name, .profile-view .user-info .account .lastname {
  margin-right: 5px;
  text-transform: capitalize;
  font-size: 18px;
}
.profile-view .user-info .account .login {
  font-weight: bold;
  align-self: center;
}
.profile-view .user-info .sex {
  color: rgba(0, 0, 0, 0.7);
}
.profile-view .user-info .birthday {
  color: rgba(0, 0, 0, 0.7);
}

.settings-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favourite-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-view .form-container .login-form {
  display: flex;
  flex-direction: column;
}

.register-view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-view .form-container .register-form {
  display: flex;
  flex-direction: column;
}

.shopping-cart {
  display: flex;
  width: 50%;
  flex-direction: column;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}
.shopping-cart .cart-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.shopping-cart .shop-items {
  width: 100%;
}
.shopping-cart .shop-items .item {
  padding: 0 5%;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 90%;
  align-content: center;
  justify-items: center;
}
.shopping-cart .shop-items .item .from {
  width: 20%;
  align-self: center;
  justify-self: flex-end;
}
.shopping-cart .shop-items .item .arrow {
  width: 10%;
  display: flex;
  align-self: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}
.shopping-cart .shop-items .item .to {
  width: 20%;
  align-self: center;
}
.shopping-cart .shop-items .item .price {
  width: 40%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.shopping-cart .shop-items .item .price .amount {
  font-weight: bold;
}
.shopping-cart .shop-items .item .price .currency {
  margin-left: 5px;
  font-size: 12px;
  align-self: flex-end;
}
.shopping-cart .shop-items .item .remove-item-container {
  width: 10%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
.shopping-cart .shop-items .item .remove-item-container .remove-item {
  display: flex;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  font-size: 30px;
  font-weight: bold;
  color: #E0440B;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.shopping-cart .empty-message {
  font-size: 18px;
}
.shopping-cart .summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.shopping-cart .summary .total-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.shopping-cart .summary .total-cost .description {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.shopping-cart .summary .total-cost .price {
  font-weight: bold;
}
.shopping-cart .summary .total-cost .currency {
  margin-left: 5px;
  font-size: 12px;
  align-self: flex-end;
}
.shopping-cart .summary .buy-button {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 180px;
  height: 50px;
  background: #E0440B;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.shopping-cart .summary .buy-button:hover {
  background: rgba(224, 68, 11, 0.5);
}

/*# sourceMappingURL=style.css.map */
