$lines: #5c5c5c;
$background_dark: #1c1c1c;
$complementary: #E0440B;

body{
    //overflow:hidden;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
.planets-view{
    background: $background_dark;
    height:100vh;
}
.planets-view{
    background: $background_dark;
    height:100vh;
}
.planets-panel {
    background: $background_dark;
    width: 100vw;
    height: 50vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        //background: $background_dark;
        border: dashed 2px $lines;
        height:10px;
    }
    &::-webkit-scrollbar-button{
        display:none;
    }
    &::-webkit-scrollbar-thumb{
        background:  $background_dark;
        border: solid 2px $lines;
        border-radius: 5px;
    }

    .planets-container {
        height: 100%;
        margin: 0 auto;
        background: $background_dark;
        display: flex;
        flex-direction: row;
        align-items: center;

        $space: 120;
        $star_size: 400;
        $planet_size: 180;
        $orbit_width:2;
        $planet_scale:(0.035,0.085,0.09,0.05,1,0.85,0.36,0.35,0.05);
        $planet_color:(#727272,#B0661B,#395B78,#CC6B32,#757475,#BEB598,#C9EFF2,#2766BB, #613b0a);

        .star {
            width: $star_size+#{"px"};
            height: $star_size+#{"px"};
            margin-left: -200px;
            background: $complementary;
            border-radius: 50%;
            position: relative;
            z-index: 0;

            .orbit {
                border: dashed $orbit_width+#{"px"} $lines;
                border-radius: 50%;
                position: absolute;

                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        $size: ($star_size/2+$planet_size/2+$space*$i+$planet_size*($i - 1))*2;
                        width: #{$size+"px"};
                        height: #{$size+"px"};
                        top: #{-$size / 2 + $star_size / 2 - $orbit_width* 1.5 + "px"};
                        left: #{-$size / 2 + $star_size / 2 - $orbit_width* 1.5 + "px"};
                    }
                }
            }
        }

        .planet {
            z-index:2;
            width: #{$planet_size+"px"};
            height: #{$planet_size+"px"};
            border-radius: 50%;
            margin-left: $space+#{"px"};
            @for $i from 1 through 9{
                &:nth-child(#{$i + 1}){
                    .scale-planet{
                        width: #{$planet_size+"px"};
                        height: #{$planet_size+"px"};
                        $scale: nth($planet_scale, $i);
                        transform: scale($scale);
                        background: nth($planet_color, $i);
                        border-radius: 50%;
                        transition:.3s;
                        &:hover{
                            transform: scale($scale * 1.2);
                        }
                    }

                }
            }


            .planet-label{
                text-align: center;
                position: relative;
                top:-20px;
                color:white;
                font-size: 30px;
            }
        }
    }
}
.planet-info-panel{
    position:relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:600px;
    height:200px;
    color:white;
    margin:50px auto;
    border: dashed 2px $lines;
    .close-info-panel{
        position:absolute;
        top:10px;
        right:10px;
        color:white;
        font-size:40px;
        transform: rotate(45deg);
        cursor:pointer;
        user-select: none;
    }
    .info-planet-name{
        text-transform: uppercase;
        font-size:20px;
        color:$complementary;
    }
    .info-planet-discovery{
        margin-top:5px;
        font-size: 16px;
        margin-bottom: 15px;
        color:rgba(255,255,255,.8);
    }
    .info-planet-day{
        margin-top:5px;
    }
    .info-planet-name-origin{
        margin-top:5px;

    }
    .info-planet-orbit{
        margin-top:5px;

    }
}
.navbar {
    position: fixed;
    height: 100vh;
    max-height: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    transition: .7s;
    z-index: 999;

    &.toggle-true {
        transform: translateX(0px);
    }

    &.toggle-false {
        transform: translateX(-70px);
    }

    .nav-container {
        height: 100%;
        width: 70px;
        background: $background_dark;
        border-right: dashed 2px $lines;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-items {
            .nav-item {
                font-size: 30px;
                margin: 40px 0;
                color: white;
                transition: .4s;

                &:hover {
                    color: $complementary;
                }
            }
        }
    }

    .toggle-button {
        display: flex;
        width: 50px;
        height: 50px;
        background: $background_dark;
        border-bottom-right-radius: 50px;
        cursor: pointer;
        border-right: dashed 2px $lines;
        border-bottom: dashed 2px $lines;
        box-sizing: border-box;

        .toggle-icon {
            margin: 8px;
            color: white;
            font-size: 25px;
            transition: .7s;

            &.toggle-true {
                transform: rotateY(180deg);
            }

            &.toggle-false {
                transform: rotateY(0deg);
            }
        }
    }
}
.profile-view{
    display:flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    //overflow-y: scroll;
    .history{
        width:80%;
        padding:20px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
        margin-top:50px;
        margin-bottom:50px;
        .description{
            font-weight:bold;
            font-size: 24px;
            margin-bottom:10px;
        }
        .empty-message{
            font-size: 18px;
        }
    }
    .user-info{
        width:80%;
        padding:20px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
        margin-top:50px;
        .description{
            font-weight:bold;
            font-size: 24px;
            margin-bottom:10px;
        }

        .account{
            display:flex;
            flex-direction: row;

            .name, .lastname{
                margin-right:5px;
                text-transform: capitalize;
                font-size:18px;
            }
            .login{
                font-weight: bold;
                align-self:center;
            }
        }
        .sex{
            color:rgba(0,0,0,0.7);
        }
        .birthday{
            color:rgba(0,0,0,0.7);

        }
    }
}
.settings-view{
    display:flex;
    align-items: center;
    justify-content: center;
}
.favourite-view{
    display:flex;
    align-items: center;
    justify-content: center;
}
.login-view{
     display:flex;
     align-items: center;
     justify-content: center;
    .form-container{
        .login-form{
            display:flex;
            flex-direction:column;
        }
    }
 }
.register-view{
      display:flex;
      align-items: center;
      justify-content: center;
    .form-container{
        .register-form{
            display:flex;
            flex-direction:column;

        }
    }
  }

.shopping-cart{
    display: flex;
    width:80%;
    flex-direction: column;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    padding:20px;
    margin-top:50px;
    .cart-title{
        font-size: 24px;
        margin-bottom:10px;
        font-weight: bold;
    }
    .shop-items{
        width:100%;
        .item{
            padding:0 5%;
            margin:5px 0;
            background: rgba(0,0,0,0.05);
            display: flex;
            flex-direction: row;
            height:50px;
            width:90%;
            align-content: center;
            justify-items: center;
            .from{
                width:20%;
                align-self:center;
                justify-self: flex-end;
            }
            .arrow{
                width:10%;
                display: flex;
                align-self:center;
                justify-content: center;
                color:rgba($complementary, 1);
            }
            .to{
                width:20%;
                align-self:center;
            }
            .price{
                width:40%;
                display: flex;
                align-self:center;
                justify-content: center;
                .amount{
                    font-weight: bold;
                }
                .currency{
                    margin-left:5px;
                    font-size: 12px;
                    align-self: flex-end;
                }
            }
            .remove-item-container{
                width:10%;
                display: flex;
                align-self:center;
                justify-content: flex-end;
                .remove-item{
                    display: flex;
                    width:30px;
                    height:30px;
                    transform: rotate(45deg);
                    font-size:30px;
                    font-weight: bold;
                    color:$complementary;
                    cursor:pointer;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                }
            }
        }
    }
    .empty-message{
        font-size:18px;
    }
    .summary{
        width:100%;
        //padding:0 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .total-cost{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-right: 20px;
            .description{
                color:rgba($complementary, 1);
                margin-right:5px;
            }
            .price{
                font-weight: bold;
            }
            .currency{
                margin-left:5px;
                font-size:12px;
                align-self: flex-end;
            }
        }
        .buy-button{
            text-transform: uppercase;
            color:white;
            font-size:20px;
            font-weight: bold;
            width:180px;
            height:50px;
            background: $complementary;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s;
            &:hover{
                background: rgba($complementary,.5);
                cursor: pointer;
            }
        }
    }

}
